.alert {
    /* width: 300px; */
    border-radius: 20px;
    /* background-color: rgb(233, 197, 197); */
    /* color: var(--primary-bg); */
    padding: 20px;
    height: 100px;
    
}
.success{
    background-color: greenyellow;
}

.danger{
    background-color: rgba(255, 0, 0, 0.738);
}